In [3]:
import pandas as pd
import numpy as np

from pathlib import Path

In [1]:
from pathlib import Path
Path.cwd()

PosixPath('/Users/sonya0706/Documents/CSI/payload-2025-26/model')

In [18]:
# Reading simulated data from sim
BASE_DIR = Path.cwd()          # model/
csv_path = BASE_DIR.parent / "sim" / "calisto_flight_data.csv"

df = pd.read_csv(csv_path)

In [19]:
df.head()

   # Time (s)   acceleration Magnitude (m/s²)   Vz (m/s)       Z (m)
0    0.000000                       71.195328   0.000000  906.565430
1    0.006110                       71.204258   0.433378  906.568077
2    0.012219                       71.213147   0.866811  906.573373
3    0.022219                       71.227608   1.576304  906.585589
4    0.032219                       71.241932   2.285941  906.604900

In [20]:
# Rename columns
df = df.rename(columns = {"# Time (s)":"time", " acceleration Magnitude (m/s²)":"acceleration", " Vz (m/s)":"vz", " Z (m)":"z"})

In [ ]:
# set index time 
df = df.sort_values("time").reset_index(drop=True)
df

             time  acceleration        vz           z
0        0.000000     71.195328  0.000000  906.565430
1        0.006110     71.204258  0.433378  906.568077
2        0.012219     71.213147  0.866811  906.573373
3        0.022219     71.227608  1.576304  906.585589
4        0.032219     71.241932  2.285941  906.604900
...           ...           ...       ...         ...
35605  355.469250      0.020294 -5.388236  906.732272
35606  355.479250      0.020294 -5.388219  906.678390
35607  355.489250      0.020294 -5.388202  906.624508
35608  355.499250      0.020294 -5.388185  906.570626
35609  355.500215      0.020294 -5.388183  906.565430

[35610 rows x 4 columns]

In [22]:
# normalize features
features = ["acceleration", "vz", "z"]
X_raw = df[features].to_numpy()   # (T, 3)

mu = X_raw.mean(axis=0, keepdims=True)
sigma = X_raw.std(axis=0, keepdims=True) + 1e-8

X_norm = (X_raw - mu) / sigma

In [23]:
X_norm

array([[ 7.60753578e+00, -7.19042794e-03, -1.23671394e+00],
       [ 7.60852094e+00,  9.46898525e-04, -1.23671201e+00],
       [ 7.60950158e+00,  9.08525770e-03, -1.23670814e+00],
       ...,
       [-2.44495446e-01, -1.08362058e-01, -1.23667086e+00],
       [-2.44495446e-01, -1.08361739e-01, -1.23671015e+00],
       [-2.44495446e-01, -1.08361701e-01, -1.23671394e+00]])